site_name: Python学习笔记
site_description: Python学习笔记
site_author: gastrodia
site_url: https://py.jiajiwei.top

# 主题配置（不变）
theme:
  name: material
  language: zh
  features:
    - navigation.expand
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.annotate
    
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: 切换到深色模式
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: 切换到浅色模式
  custom_dir: overrides

# 插件只保留官方稳定版
plugins:
  - search
  - glightbox

# 导航配置
nav:
  - 前言: index.md
  - Python 语言基础学习:
    - 基础:
      - 基本数据类型: basic/data-types.md  # 去掉开头的/ + 补全.md后缀
#  - Python 语言进阶:


# 自定义Markdown扩展（不变）
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.tabbed:
      alternate_style: true
